.seats-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95vw;
    margin: 20px auto;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
}

.bottom-bar-seat {
    position: fixed;
    display: flex;
align-items: center;
    height: 110px;
    bottom: 0;
    right: 0;
    width: 100vw;
    background: #DFE6ED;
border: 1px solid #9EADBA;
}

.bottom-bar-seat .movie-time-seat, .bottom-bar-seat .movie-title-seat  {
    font-size: 26px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: -35px;

}

.bottom-bar-seat .movie-poster-seat {
        height: 90px;
        width: 75px;
        margin-left: 10px;
        background-color: white;
        padding: 5px;
}

.final-button {
    width: 45vw;
    color: white;
    background: #E8833A;
    border-radius: 3px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  5vh auto 150px auto;
    text-align: center;
    cursor: pointer;
}